<%- contentFor('content')%>
    <div class="container">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <h2 class="col-sm-6">List Book</h2>
                    <h3 class="col-sm-6 text-right">
                        <a href="/book/add">Add new</a>
                    </h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover table-inverse ">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Detail</th>
                                    <th>Image</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% books.forEach(function(book, index){%>
                                    <tr>
                                        <td scope="row">
                                            <%= ++index%>
                                        </td>
                                        <td>
                                            <%= book.title%>
                                        </td>
                                        <td>
                                            <%= book.author%>
                                        </td>
                                        <td>
                                            <%= book.detail%>
                                        </td>
                                        <td>
                                            <img src="public/images/book/<%= book.image%>" alt="<%= book.title%>" width="150px" />
                                        </td>
                                        <td>
                                            <a href="/book/edit/<%= book._id%>">Edit</a> |
                                            <a href="/book/delete/<%= book._id%>">Delete</a>
                                        </td>
                                    </tr>
                                    <% })%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>